@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-accent-50: #fff5f2;
  --color-accent-100: #ffe6de;
  --color-accent-200: #ffcfc2;
  --color-accent-300: #ffa68f;
  --color-accent-400: #ff785a;
  --color-accent-500: #f45b3a;
  --color-accent-600: #e23f1e;
  --color-accent-700: #be3218;
  --color-accent-800: #9d2c18;
  --color-accent-900: #822819;
  --color-accent-950: #461109;
}

:root {
  --color-main: #0d090a;
  --ui-bg: var(--color-main);
  --ui-text-inverted: var(--color-main);

  --color-secondary: #fdf7fa;

  --color-accent: #ff785a;

  --color-accent-variant: #fff05a;
}

* {
}
