@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-accent-50: #fff5f2;
  --color-accent-100: #ffe6de;
  --color-accent-200: #ffcfc2;
  --color-accent-300: #ffa68f;
  --color-accent-400: #ff785a;
  --color-accent-500: #f45b3a;
  --color-accent-600: #e23f1e;
  --color-accent-700: #be3218;
  --color-accent-800: #9d2c18;
  --color-accent-900: #822819;
  --color-accent-950: #461109;

  --color-main-100: #e7e6e7;
  --color-main-200: #cfcdce;
  --color-main-300: #b7b4b5;
  --color-main-400: #868283;
  --color-main-500: #555152;
  --color-main-600: #3f3b3c;
  --color-main-700: #2a2627;
  --color-main-800: #1b1819;
  --color-main-900: #0d090a;

  --color-main: var(--color-main-900);
  --color-secondary: #fdf7fa;
}

:root {
  --ui-bg: var(--color-main);
  --ui-text-inverted: var(--color-main);
  --ui-bg-elevated: var(--color-main-700);
  --ui-border: var(--color-main-500);
  --ui-text-dimmed: var(--color-main-400);

  --ui-secondary: var(--color-secondary) --color-accent: #ff785a;

  --color-accent-variant: #fff05a;
}

.grain::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 20;

  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

  opacity: 0.6;
  mix-blend-mode: overlay;
  filter: contrast(100%) brightness(50%);
}
